<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>Makaron</h1>
		
		
</center>
<a href="file:///C:/Users/%D0%98%D0%BB%D1%8C%D1%8F/Desktop/qqqqq/blabla/home/templates/other.html">other</a>
		<a href="file:///C:/Users/%D0%98%D0%BB%D1%8C%D1%8F/Desktop/qqqqq/blabla/home/templates/other1.html">other1</a>
		<a href="file:///C:/Users/%D0%98%D0%BB%D1%8C%D1%8F/Desktop/qqqqq/blabla/home/templates/other2.html">other2</a>
		<a href="file:///C:/Users/%D0%98%D0%BB%D1%8C%D1%8F/Desktop/qqqqq/blabla/home/templates/other3.html">other3</a>

		{% block body%}
		<h1>koko</h1>
		<h2>jambo</h2>
		{% endblock %}
</body>
</html>